
  .Cha_select_v {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 324px;
    height: 55vh;
    background: #0f0c13;
    border: 15px solid #201651;
    border-radius: 20px;
    z-index: 100;
    
  }
  .Cha_select_v .title {
    position: absolute;
    width: 195px;
    height: 55px;
    background: #201651;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, -56%);
    text-align: center;
    line-height: 55px;
    font-family: 'Gugi';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #54b5c2;
  }
  .Cha_select_v .select_btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 100;
  }
.Cha_select_v .select_btn span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #54b5c2;
  }
.Cha_select_v .img_select {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
  }
  
  .img_ul li {
    width: 100px;
    height: 100px;
    border: 4px solid #201651;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 6vh;
  }
  .img_ul li:hover {
    border: 4px solid #54b5c2;
  }
  .img_ul li.checked {
    border: 4px solid #54b5c2;
  }
  
  .Cha_select_v .img_select ul li input {
    width: 100%;
    height: 100%;
    
  }
  
  
  .select_btn span:hover {
    cursor: pointer;
  }
  
  .text_box {
    text-align: center;
  }
  .Btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .hidden {
    display: none;
  }
  

